// Overrides
@if $bulmaswatch-import-font {
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
}

.button,
.control.has-icons-left .icon,
.control.has-icons-right .icon,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea {
  height: 2.534em;
}

.button {
  &.is-active,
  &:active {
    box-shadow: inset 9px 1px 4px rgba($grey-darker, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      border-color: darken($color, 5);

      &.is-hovered,
      &:hover {
        background-color: darken($color, 10);
      }

      &.is-active,
      &:active {
        box-shadow: inset 1px 0 3px rgba($grey-darker, 0.3);
        background-color: darken($color, 10);
      }
    }
    
    border-radius: 5px;
    
  }

  &.is-loading:after {
    border-color: transparent transparent $grey-light $grey-light;
  }
}

.input,
.textarea {
  box-shadow: none;
}

// .box,
// .card {
//   box-shadow: 0 0 0 1px $border;
// }

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

// Color for the background of the food items
.notification .is-primary{
  background-color:#5ba4de;
}

.navbar {
  &.is-transparent {
    background-color: transparent;

    .navbar-item,
    .navbar-link {
      color: $link;

      &:after {
        border-color: currentColor;
      }
    }
  }

  @include desktop {
    .has-dropdown .navbar-item {
      color: $text;
    }
  }

  @include touch {
    .navbar-menu {
      background-color: inherit;
    }

    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);

      &.is-#{$name} {
        .navbar-item,
        .navbar-link {
          color: $color-invert;
        }
      }
    }
  }
}

.hero {
  .navbar {
    .navbar-item,
    .navbar-link {
      color: $link;

      &:after {
        border-color: currentColor;
      }
    }

    @include desktop {
      .has-dropdown .navbar-item {
        color: $text;
      }
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .navbar-item,
      .navbar-link {
        color: $color-invert;
      }
    }
  }
}

.progress,
.tag {
  border-radius: 0;
}








// CSS for Inventory item options
// Bug: This messes up all ul and li tags 
ul.options {
  text-align: left;
  display: inline;
  margin: 0;
  //padding: 15px 4px 17px 0;
  list-style: none;
  // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 30px 5px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  border-radius: 10px;
  background: rgb(59, 117, 139);
  color: transparent;
}
ul li ul {
  padding: 0;
  top: 0px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: inline; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: inline;
  opacity: 1;
  visibility: visible;
}




// Grocery List CSS
label {
  display: block;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  position: relative;
  padding-left: 2em;
}
label:last-of-type {
  margin-bottom: 0;
}